* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__node {
  font-size: 12px;
  color: #222;
}

.react-flow__edge-path {
  stroke-width: 2;
}

.react-flow__edge-text {
  font-size: 11px;
  font-weight: 600;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.react-flow__handle-connecting {
  background-color: #ff6060;
}

.react-flow__handle-valid {
  background-color: #55dd99;
}